@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100vw;
  height: 8vh;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 25px;
}

.videoContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoContainer video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.aboutUs {
  width: 100vw;
}

.aboutUs .container {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.aboutUs .container .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs .container .infoContainer .title {
  font-size: 40px;
  z-index: 2;
}

.aboutUs .container .infoContainer .descriptionContainer {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aboutUs .container .infoContainer .descriptionContainer .square {
  width: 300px;
  height: 300px;
  z-index: 1;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #a0cadf;
  opacity: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-shadow: 16px 15px 10px 4px #c0c9cf;
  box-shadow: 16px 15px 10px 4px #c0c9cf;
}

.aboutUs .container .infoContainer .descriptionContainer .description {
  z-index: 2;
}

.aboutUs .container .infoContainer .icon {
  font-size: 80px;
  z-index: 2;
}

.aboutUs .space {
  width: 100vw;
  height: 30vh;
}

.first {
  background-image: url("./images/kaigreenephoto.jpg");
}

.spaceParallax {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.priceList {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.priceList .sectionName {
  position: absolute;
  top: 0;
  font-size: 80px;
}

.priceList .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 380px;
  width: 240px;
  background-color: #a0cadf;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #c0c9cf;
          box-shadow: -1rem 0 3rem #c0c9cf;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.priceList .card:not(:first-child) {
  margin-left: -80px;
}

.priceList .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.priceList .card:hover ~ .card {
  position: relative;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.priceList .card .title {
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

.priceList .card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  list-style-type: none;
  margin-top: 50px;
}

.priceList .card ul li:before {
  content: '✓';
}

.priceList .card .buyBtn {
  width: 100px;
  height: 40px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  position: absolute;
  bottom: 5%;
  cursor: pointer;
}

.priceList .card .buyBtn:hover {
  background-color: #a0cadf !important;
  color: white !important;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.priceList .card .buyBtn:focus, .priceList .card .buyBtn:active {
  outline: none;
}

.second {
  background-image: url("./images/parallax2.jpg");
}

.groupClasses {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.groupClasses .title {
  text-align: center;
  font-size: 80px;
  margin-top: 20px;
}

.groupClasses .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groupClasses .cardContainer .card {
  width: 300px;
  height: 450px;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  position: relative;
  -webkit-box-shadow: 10px 10px 44px 0px #a0cadf;
  box-shadow: 10px 10px 44px 0px #a0cadf;
}

.groupClasses .cardContainer .card .zumba {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.groupClasses .cardContainer .card .titleCard {
  width: 50%;
  height: 40px;
  margin: 0;
  color: #a0cadf;
  background-color: white;
  position: absolute;
  bottom: -5%;
  right: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 44px 0px #a0cadf;
  box-shadow: 10px 10px 44px 0px #a0cadf;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.groupClasses .cardContainer .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.groupClasses .cardContainer .card:hover .titleCard {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.groupClasses .cardContainer .cardUnvisible {
  display: none;
}

.groupClasses .moreActivities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 80px;
  color: #a0cadf;
  cursor: pointer;
}

.changeHeight {
  height: 230vh;
  -webkit-transition: .6s ease-out;
  transition: .6s ease-out;
}

.visible {
  display: block !important;
}

.rotateArrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

@media (min-aspect-ratio: 16 / 9) {
  .first video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .first video {
    width: auto;
    height: 100%;
  }
}
/*# sourceMappingURL=indexStyle.css.map */